/* pages/info/info.wxss */

 //顶部按钮+搜索框
 .top{
    // height:100rpx;
    height: 9vh;
    display: flex;
    // background-color:blue;
  }
  
  // 顶部按钮
  .top>.classify{
    // float:left;
    font-size:22rpx;
    background-color: rgb(223, 223, 223);
    border-radius: 30rpx;
    padding:3vh 20rpx;
    text-align: center;
  } 
  
  // 搜索按钮
  .search{
    position: absolute;
    right: 15rpx;
    top: 2vh;
  }
  .search>image{
    width:50rpx;
    height:50rpx;
    margin:0 10rpx;
  }
  
  // 置顶通知
  .important-info{
    // height:400rpx;
    height: 30vh;
    // background-color: blueviolet;
  } 
  
  // 重要通知
  .important-info>.important{
    display: flex;
    height: 15vh;
    // background-color: aquamarine;
  } 
  
  .important>.box{
    margin:auto;
    width: 700rpx;
    height: 13vh;
    background-color: rgb(223, 223, 223);
    border-radius: 40rpx;
    // 文字居中
    font-size:30rpx;
    text-align: center;
    line-height: 12vh;
  }
  
  .important-info>.swiper{
    height: 18vh;
  }
  
  .swiper .box{
    display: inline-block;
    width: 170rpx;
    height: 6vh;
    background-color: rgb(223, 223, 223);
    border-radius: 30rpx;
    margin:1vh 20rpx;
    padding:3vh 20rpx;
  
    font-size:25rpx;
    text-align: center;
    line-height: 6vh;
  }
  
  .swiper .wx-swiper-dot{
    width: 15rpx;
    height: 15rpx;
    // border-radius: 5rpx;
    border-radius: 100%;
  }
  
  // 指示点位置
  .swiper .wx-swiper-dots.wx-swiper-dots-horizontal{
    position: absolute;
    bottom: 25rpx;
  }
  
  // 选中样式
  .swiper .wx-swiper-dot.wx-swiper-dot-active{
    background-color:#4F4F57;
    width: 30rpx;
    height: 10rpx;
    margin-bottom: 2.5rpx;
    border-radius: 15rpx;
  }
  
  // 校园资讯
  .school-info>.top{
    height: 9vh;
  }
  
  .school-info>.top>.title{
    height: 2vh;
    font-size:22rpx;
    background-color: rgb(223, 223, 223);
    border-radius: 30rpx;
    padding:3.5vh 27rpx;
    text-align: center;
    line-height: 2vh;
  }
  
  .seperate{
    height: 9vh;
    display: flex;
    align-items: center;
  }
  
  .seperate>.point{
    width: 10rpx;
    height: 10rpx;
    border-radius: 100%;
    border:black solid 1rpx;
    // margin:auto;
  }
  
  .seperate>.line{
    background-color: black;
    width:583rpx;
    height:4rpx;
  }
  
  .info{
    // display: inline-block;
    // display: flex;
    height: 25vh;
    margin: 2vh 50rpx;
  }
  
  .info>.top>.face{
    // float: left;
    width:80rpx;
    height:80rpx;
    border-radius: 100%;
    background-color: rgb(223, 223, 223);
  }
  
  .info>.top>.name{
    // float: left;
    width: 450rpx;
    height: 5vh;
    margin: 1.3vh 0;
    margin-left: 50rpx;
    border-radius: 40rpx;
    background-color: rgb(223, 223, 223);
  }
  
  .info>.content{
    height: 11vh;
    width: 650rpx;
    border-radius: 30rpx;
    background-color: rgb(223, 223, 223);
  }
  
  .info>.topic{
    height: 3vh;
    width: 600rpx;
    margin: 2vh auto;
    // margin-top:2vh;
    border-radius: 15rpx;
    background-color: rgb(223, 223, 223);
  }
  
  // 到达底部
  .empty{
    font-size: 22rpx;
    color:rgb(145, 145, 145);
    text-align: center;
    margin-top: 4vh;
  }
  
  // 返回顶部按钮
  .to-top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    bottom: 10vh;
    right: 0rpx;
    width: 80rpx;
    height: 80rpx;
    border-radius: 100%;
    border:rgb(184, 184, 184) solid 3rpx;
    background-color: white;
  }
  
  .to-top>image{
    height: 50%;
    width: 50%;
  }