/**index.wxss**/
page {
    display: flex;
    flex-direction: column;
  
    margin:0px;
    padding:0px;
  }
  
   //顶部按钮+搜索框
   .top{
    // height:100rpx;
    // height: 200rpx;
    display: flex;
    // background-color:blue;
  }
  
  // 顶部按钮
  .top>.classify{
    // float:left;
    height: 105rpx;
    line-height: 105rpx;
    font-size:25rpx;
    background-color: rgb(223, 223, 223);
    border-radius: 30rpx;
    padding: 0 62rpx;
    text-align: center;
  } 
  
  // 搜索按钮
  .search{
    position: absolute;
    right: 15rpx;
    top: 30rpx;
  }
  .search>image{
    width:50rpx;
    height:50rpx;
    margin:0 10rpx;
  }
  
  // 标题
  .title{
    margin: 30rpx 40rpx;
    font-size: 40rpx;
    font-weight: bolder;
    letter-spacing: 10rpx;
  }
  
  .filter-section{
    .filter-group{
      display: flex;
      margin-left: 40rpx;
      .filter-item{
        margin-right: 40rpx;
        &.active{
          color: red;
        }
      }
    }
  }
  
  // 轮播图
  .le-img {
    width: 100%;
    display: block;
    transform: scale(0.8);
    transition: all 0.2s ease;
    border-radius: 6px;
  }
  
  .le-img.le-active {
    transform: scale(1);
  }
  
  .act-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .box{
      width: 250rpx;
      margin: 0 10rpx;
      .info-box{
        .topic{
            font-size: 30rpx;
            width: 250rpx;
            // 超出显示省略号
            text-overflow: ellipsis;
            overflow: hidden;
            // 保留两行标题
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .details{
          .status-tag{
            font-size: 30rpx;
            &.ongoing{
              color: red;
            }
            &.ended{
              color: grey
            }
          }
        }
      }

      .pic{
        padding: 0;
        margin-top: 50rpx;
        margin-bottom: 10rpx;
        width: 250rpx;
        height: 200rpx;
        border-radius: 20rpx;
      }
    }
  }
  
  // 到达底部
  .empty{
    margin-top: 50rpx;
    font-size: 22rpx;
    color:rgb(145, 145, 145);
    text-align: center;
  }
  
  // 返回顶部按钮
  .to-top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    bottom: 100rpx;
    right: 0rpx;
    width: 80rpx;
    height: 80rpx;
    border-radius: 100%;
    border:rgb(184, 184, 184) solid 3rpx;
    background-color: white;
  }
  
  .to-top>image{
    height: 50%;
    width: 50%;
  }