/* pages/classify/classify.wxss */

.top{
  text-align: center;
  margin: 3vh 0;
}

.top>.font1{
  margin: 3vh 0 2vh 0;
  font-size: 45rpx;
  font-weight: bolder;
}

.top>.font2{
  font-size: 28rpx;
}

.classify-box{
  margin: 0 40rpx;
}

.classify-box>.title{
  font-size: 40rpx;
  padding: 2vh 30rpx;
  font-weight: bolder;
  letter-spacing: 10rpx;
}

.choose-box{
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.choose-box>.choice{
  height: 8vh;
  width: 165rpx;
  border-radius: 25rpx;
  margin: 2vh 30rpx;
  text-align: center;
  line-height: 8vh;
  font-size: 35rpx;
}

.unchoose{
  background-color: rgb(233,233,233);
}

.choose{
  background-color: rgb(107, 208, 255);
}

.button-box{
  position: absolute;
  display: fixed;
  bottom: 0vh;
  width: 100%;
  // right: 0rpx;
  // width: 80rpx;
  // height: 80rpx;
  // border-radius: 100%;
  // border:rgb(184, 184, 184) solid 3rpx;
  // background-color: white;
}

.button-box>view{
  text-align: center;
  font-size: 30rpx;
  background-color: rgb(233,233,233);
  // padding: 2vh 150rpx;
  width: 50%;
  padding: 2vh 0;
  // border-radius: 30rpx;
}

.button-box>.reset{
  float: left;
  // margin: 0 100rpx;
}

.button-box>.confirm{
  float: right;
  background-color: rgb(252, 224, 70);
  // margin: 0 100rpx;
}