/* pages/AccountAndSafe/AccountAndSafe.wxss */

.topic{
  margin: 2vh 20rpx;
  padding: 1vh;
  // background-color: aqua;
  border-bottom: 0.3vh solid rgb(233,233,233);
}

.font{
  float: right;
  color: rgb(144,144,144);
}