/* pages/search/search.wxss */
// 顶部
.top{
    display: flex;
    margin-top: 50rpx;
    margin-left: 20rpx;
  }
  
  // 搜索框
  .search-box{
    display: flex;
    height: 80rpx;
    width:550rpx;
    border:rgb(145, 145, 145) solid 2rpx;
    border-radius: 50rpx;
    margin: auto;
    align-items: center;
  } 
  
  // 图标
  .search-box>.icon>image{
    width:30rpx;
    height:30rpx;
    margin:0 10rpx;
  }
  
  // 搜索内容框
  .search-box>.content{
    width: 460rpx;
    // width: search-box的width - 90
    min-height: 0rpx;
    font-size: 30rpx;
  }
  
  // "搜索"按钮
  .searchBtn{
    text-align: center;
    margin-right: 20rpx;
    font-weight: bold;
    font-size: 30rpx;
    margin: auto;
  }
  
  // 历史记录
  .history{
    width: 650rpx;
    margin: 0 auto;
  }
  
  .history>.top>.title{
    font-weight: bold;
    font-size: 35rpx;
  }
  
  .history>.top>.font{
    position: absolute;
    font-size: 35rpx;
    color:rgb(145, 145, 145);

    &.all {
      right: 120rpx;
    }
    &.finish {
      right: 30rpx;
    }
  }
  
  .font-hover{
    color: black;
  }
  
  .history>.top>image{
    position: absolute;
    right: 50rpx;
    width: 50rpx;
    height: 50rpx;
  }
  
  .history-list{
    display: flex;
    margin-top: 20rpx;
    flex-wrap: wrap;
  }
  
  .history-list>.item{
    display: flex;
    background-color: rgb(233, 233, 233);
    width: 180rpx;
    height: 80rpx;
    margin: 15rpx;
    justify-content: center;
    line-height: 80rpx;
    font-size: 30rpx;
    border-radius: 20rpx;
  }
  
  .item>.icon{
    position: relative;
    left: 20rpx;
  }
  
  .show{
    display: block;
  }
  
  .hidden{
    display: none;
  }